<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="TraceFile"  xsi:type="File" fileName="${basedir}/Logs/TraceLog.txt" 
            layout="${date}|${level}| ${message}"/>
    <target name="ErrorFile"  xsi:type="File" fileName="${basedir}/Logs/ErrorLog.txt"
            layout="${date}|${level}| ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="TraceFile" />
    <logger name="Error*" minlevel="Error" writeTo="ErrorFile" />
  </rules>
</nlog>
